body {
    background-color: #000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
}

#logo {
    width: 250px;
    height: 80px;
    margin: 5px;
}

h2 {
    /* color: #fff; */
    text-align: center;
}

.paragraphDecorate {
    /* color: #fff; */
    text-align: center;
    font-size: 60px;
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

header {
    text-align: center;
}

main {
    flex-grow: 1;
    margin-top: 20px;
}